---
layout: default
title: Blogs
---



<!-- Posts Index
================================================== -->
<section class="recent-posts">

    <div class="section-title">

        <h2><span>Blogs</span></h2>
        <p> A collection of the technical blogs from the Welsh Government's Data Science Unit. </p>

    </div>

    <div class="row listrecent">

        {% for post in site.categories.Blog %}

        {% include postbox.html %}

        {% endfor %}

    </div>

</section>

<!-- Pagination
================================================== -->
<div class="bottompagination">
<div class="pointerup"><i class="fa fa-caret-up"></i></div>
<span class="navigation" role="navigation">
    {% include pagination.html %}
</span>
</div>

